span {
  color: fuchsia;
}
.lar {
  color: indigo;
}

.gu {

  color: darkorchid;
}

main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  background: #808080;
  padding: 3rem;
  border: 0.4rem solid black;
  border-radius: 1rem;
}
